Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/flare, @aws/access-analyzer

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/flare
packages/core/src/amazonq/ @aws/flare
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer

feat(stepfunctions): Support calling TestState API from Workflow Studio
  packages/core/src/extensionNode.ts
  packages/core/src/shared/clients/stepFunctionsClient.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/stepFunctions/workflowStudio/activation.ts
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/types.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioClient.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditor.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditorProvider.ts
  packages/core/src/test/stepFunctions/workflowStudio/workflowStudioClient.test.ts
Owners: @aws/aws-ides-team

minor updates
  packages/core/src/shared/filetypes.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/test/shared/filetypes.test.ts
Owners: @aws/aws-ides-team

test: implement tests for manifestResolver
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/test/shared/lsp/manifestResolver.test.ts
Owners: @aws/flare, @aws/aws-ides-team

refactor: rename cleanup function and move test file
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/utils/cleanup.ts
  packages/core/src/test/lsp/util/cleanup.test.ts
Owners: @aws/flare, @aws/aws-ides-team

refactor(stepfunctions): remove extra telemetry, use global extension context, add api error log
  packages/core/src/extensionNode.ts
  packages/core/src/shared/clients/stepFunctionsClient.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/stepFunctions/workflowStudio/activation.ts
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioApiHandler.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditor.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditorProvider.ts
  packages/core/src/test/stepFunctions/workflowStudio/workflowStudioApiHandler.test.ts
Owners: @aws/aws-ides-team

refactor(core): Manifest/LSP fetching should use httpResourceFetcher (#6411)
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/webpack.web.config.js
Owners: @aws/aws-ides-team

refactor: simplify lspResolver implementation
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/shared/lsp/lspResolver.ts
Owners: @aws/flare, @aws/aws-ides-team

add changelog
  packages/amazonq/.changes/next-release/Feature-f0b1a42d-ee00-4b68-9160-cbae9bd27873.json
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

add comment
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/models/constants.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

test: add tests for lsp resolver (WIP)
  packages/core/src/test/shared/lsp/lspResolver.test.ts
Owners: @aws/aws-ides-team

fix: migrate old name
  packages/amazonq/src/lsp/lspInstaller.ts
Owners: @aws/aws-ides-team

feat(ec2): graduate EC2 out of Experiments
  packages/core/package.nls.json
  packages/core/src/awsexplorer/regionNode.ts
  packages/core/src/shared/settings-toolkit.gen.ts
  packages/toolkit/.changes/next-release/Feature-a7fb8317-77bc-4459-a278-2bc98fd0a5cf.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

remove helper
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Owners: @aws/aws-ides-team

remove helper
  packages/amazonq/test/e2e/amazonq/utils/workspaceUtils.ts
Owners: @aws/aws-ides-team

fix(S3 View): Display bucket contents with specific IAM role policies #4644
  .changes/next-release/Bug Fix-77137e24-593d-4859-a15f-e029edf843a7.json
  packages/core/src/shared/clients/s3Client.ts
Owners: @aws/aws-ides-team

feat(ec2): graduate EC2 out of Experiments #6435
  packages/core/package.nls.json
  packages/core/src/awsexplorer/regionNode.ts
  packages/core/src/shared/settings-toolkit.gen.ts
  packages/toolkit/.changes/next-release/Feature-a7fb8317-77bc-4459-a278-2bc98fd0a5cf.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

refactor: unify doc telemetry event handlers
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/session/session.ts
Owners: @aws/aws-ides-team

test: add tests for lspResolver
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/test/shared/lsp/lspResolver.test.ts
  packages/core/src/test/shared/lsp/manifestResolver.test.ts
Owners: @aws/aws-ides-team

test: remove duplicate data in tests
  packages/core/src/test/shared/lsp/lspResolver.test.ts
  packages/core/src/test/shared/lsp/manifestResolver.test.ts
Owners: @aws/aws-ides-team

refactor: move telemetry work to more general location
  packages/amazonq/src/lsp/activation.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/utils/stage.ts
Owners: @aws/aws-ides-team, @aws/flare

fix: change outdated reference
  packages/core/src/shared/lsp/manifestResolver.ts
Owners: @aws/aws-ides-team

refactor: rename stage -> setupStage
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/lsp/utils/setupStage.ts
Owners: @aws/aws-ides-team

deps: add in generated client
  src.gen/@amzn/codewhisperer-streaming/LICENSE
  src.gen/@amzn/codewhisperer-streaming/README.md
  src.gen/@amzn/codewhisperer-streaming/package-lock.json
  src.gen/@amzn/codewhisperer-streaming/package.json
  src.gen/@amzn/codewhisperer-streaming/src/CodeWhispererStreaming.ts
  src.gen/@amzn/codewhisperer-streaming/src/CodeWhispererStreamingClient.ts
  src.gen/@amzn/codewhisperer-streaming/src/auth/httpAuthExtensionConfiguration.ts
  src.gen/@amzn/codewhisperer-streaming/src/auth/httpAuthSchemeProvider.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/ExportResultArchiveCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateAssistantResponseCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateTaskAssistPlanCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/SendMessageCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/index.ts
  src.gen/@amzn/codewhisperer-streaming/src/endpoints.ts
  src.gen/@amzn/codewhisperer-streaming/src/extensionConfiguration.ts
  src.gen/@amzn/codewhisperer-streaming/src/index.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/CodeWhispererStreamingServiceException.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/models_0.ts
  src.gen/@amzn/codewhisperer-streaming/src/protocols/Aws_restJson1.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.browser.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.shared.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeExtensions.ts
  src.gen/@amzn/codewhisperer-streaming/tsconfig.json
  src.gen/@amzn/codewhisperer-streaming/typedoc.json
Owners: @aws/aws-ides-team

fix: add missing type annotation
  package-lock.json
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
Owners: @aws/aws-ides-team, @aws/earlybird

fix: add workaround for windows tests
  packages/core/src/shared/lsp/lspResolver.ts
Owners: @aws/aws-ides-team

fix: remove space to fix lint issue
  packages/core/src/shared/clients/s3Client.ts
Owners: @aws/aws-ides-team

test: disable lspResolver test on nonmac, add techdebt test
  packages/core/src/test/shared/lsp/lspResolver.test.ts
  packages/core/src/test/techdebt.test.ts
Owners: @aws/aws-ides-team

fix(lint): remove extra space so that lint passes. (#6440)
  packages/core/src/shared/clients/s3Client.ts
Owners: @aws/aws-ides-team

jscpd: ignore verbose telemetry checks
  packages/core/src/test/shared/lsp/lspResolver.test.ts
Owners: @aws/aws-ides-team

refactor: avoid duplicate import line
  packages/amazonq/src/lsp/activation.ts
Owners: @aws/aws-ides-team

refactor: customerUserAgent -> userAgent
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Owners: @aws/aws-ides-team

refactor: remove blank line
  packages/core/src/shared/awsClientBuilderV3.ts
Owners: @aws/aws-ides-team

refactor: use partialClone over omitIfPresent
  packages/core/src/shared/awsClientBuilderV3.ts
Owners: @aws/aws-ides-team

refactor: add depth field to partialClone
  packages/core/src/shared/awsClientBuilderV3.ts
Owners: @aws/aws-ides-team

refactor: rename test file
  packages/core/src/test/shared/awsClientBuilder.test.ts
Owners: @aws/aws-ides-team
