Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/dexp, @aws/access-analyzer

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/dexp
packages/core/src/amazonq/ @aws/dexp
packages/core/src/accessanalyzer/ @aws/access-analyzer

feat: add a conversationId as an info log to ease customer feedback
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Owners: @aws/earlybird

Adding additional features plus removing unwanted console logs
  packages/core/package.json
  packages/core/package.nls.json
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/threatcomposereditor/VSCodeExtensionInterface.js
  packages/core/src/threatcomposereditor/activation.ts
  packages/core/src/threatcomposereditor/commands/createNewThreatCompoerFile.ts
  packages/core/src/threatcomposereditor/editorWebview.ts
  packages/core/src/threatcomposereditor/editorWebviewManager.ts
  packages/core/src/threatcomposereditor/handleMessage.ts
  packages/core/src/threatcomposereditor/messageHandlers/emitTelemetryMessageHandler.ts
  packages/core/src/threatcomposereditor/messageHandlers/initMessageHandler.ts
  packages/core/src/threatcomposereditor/messageHandlers/loadStageMessageHandler.ts
  packages/core/src/threatcomposereditor/messageHandlers/openFeedbackMessageHandler.ts
  packages/core/src/threatcomposereditor/messageHandlers/saveFileMessageHandler.ts
  packages/core/src/threatcomposereditor/types.ts
Owners: @aws/aws-ides-team

fix: 'Code changes summary' component when only 1 file was updated
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/main.ts
Owners: @aws/dexp

fix: 'Code changes summary' component when only 1 file was updated (#4944)
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/main.ts
Owners: @aws/dexp

feat: add a conversationId as an info log to ease customer feedback (#4942)
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Owners: @aws/earlybird

fix: update session state config when modifying root folder (#4926)
  packages/amazonq/.changes/next-release/Bug Fix-06dc9320-3b6d-43d9-b811-c910852fdc2b.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/types.ts
Owners: @aws/aws-ides-team, @aws/earlybird

Chore - merge commit
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Owners: @aws/codewhisperer-team

Chore - add changelog
  packages/amazonq/.changes/next-release/Feature-783a661b-705e-403f-af64-76db8c209496.json
Owners: @aws/aws-ides-team

use shell for execFileSync during extension packaging on Windows OS
  scripts/package.ts
Owners: @aws/aws-ides-team

Update scripts/package.ts
  scripts/package.ts
Owners: @aws/aws-ides-team

Aliging Customer facing messages and telemetry events in both IDE's
  packages/core/src/codewhisperer/commands/startSecurityScan.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/test/codewhisperer/util/zipUtil.test.ts
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

feat(amazonq): multi-root workspace support
  packages/amazonq/.changes/next-release/Feature-98fc029d-ac6f-43c6-b168-fb37bb077c14.json
  packages/amazonq/.changes/next-release/Feature-b7c62308-5e6e-4aeb-9dc8-ec8a5137dfb7.json
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/commands/startSecurityScan.ts
  packages/core/src/codewhisperer/service/diagnosticsProvider.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/filesystemUtilities.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
  packages/core/src/test/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/test/codewhisperer/util/zipUtil.test.ts
  packages/core/src/testE2E/codewhisperer/securityScan.test.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

feat(login): add help link
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/login/webview/vue/types.ts
Owners: @aws/aws-ides-team

Fix bug where messages to chat got lost.
  packages/core/src/amazonq/webview/ui/apps/gumbyChatConnector.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
Owners: @aws/dexp, @aws/aws-ides-team

Add changelog entry.
  packages/amazonq/.changes/next-release/Bug Fix-99765db0-02f5-421b-8188-f85f020f4763.json
Owners: @aws/aws-ides-team

fix(build): "npm run package" fails on Windows #4947
  scripts/package.ts
Owners: @aws/aws-ides-team

fix tests
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Owners: @aws/aws-ides-team
