Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/access-analyzer

refactor: bump debounce delay
  packages/core/src/codewhisperer/models/constants.ts
Owners: @aws/codewhisperer-team

fix(amazonq) Previous and subsequent cells are used as context for completion in a Jupyter notebook
  packages/amazonq/.changes/next-release/Bug Fix-9b0e6490-39a8-445f-9d67-9d762de7421c.json
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Complete function rename; refactored notebook logic out of main function.
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Fix test name to be extractCellsSliceContext
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
Owners: @aws/aws-ides-team

Finish function renaming
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Apply suggestions from code review
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix(amazonq) Previous and subsequent cells are used as context for completion in a Jupyter notebook
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Lint fix
  packages/core/src/codewhisperer/util/editorContext.ts
Owners: @aws/codewhisperer-team

Move language-to-comment mapping to runtimeLanguageContext
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

refactor(amazonq): move debounce to top level. (#7292)
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/src/codewhisperer/models/constants.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

feat(amazonq): Migrate existing SSO connections to the LSP identity server
  packages/amazonq/src/lsp/client.ts
  packages/core/src/auth/sso/cache.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix comments
  packages/core/src/codewhisperer/util/authUtil.ts
Owners: @aws/codewhisperer-team

fix(amazonq): use neighbor cells as completion context in Notebook #7086
  packages/amazonq/.changes/next-release/Bug Fix-9b0e6490-39a8-445f-9d67-9d762de7421c.json
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

feat(amazonq): import userWrittenCode configuration for inline with lsp (#7281)
  packages/amazonq/src/lsp/client.ts
Owners: @aws/aws-ides-team

Merge master into feature/flare-inline (#7261)
  package-lock.json
  package.json
  packages/amazonq/.changes/1.66.0.json
  packages/amazonq/.changes/next-release/Bug Fix-9b0e6490-39a8-445f-9d67-9d762de7421c.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/toolkit/.changes/3.60.0.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Owners: @aws/aws-ides-team, @aws/earlybird, @aws/codewhisperer-team

remove stale code
  packages/amazonq/src/developerProfile/util.ts
Owners: @aws/aws-ides-team

Add unit test
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/codewhisperer/util/authUtil.test.ts
  packages/core/src/auth/index.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/shared/index.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix circular dependency
  packages/core/src/codewhisperer/region/utils.ts
Owners: @aws/codewhisperer-team

fix(amazonq): push customizations on startup
  packages/amazonq/src/lsp/chat/activation.ts
Owners: @aws/aws-ides-team

fix(amazonq): push customizations on startup (#7297)
  packages/amazonq/src/lsp/chat/activation.ts
Owners: @aws/aws-ides-team

deps: bump @aws-toolkits/telemetry to 1.0.319
  package-lock.json
  package.json
Owners: @aws/aws-ides-team

test(ignore): IGNORE ME
  file.txt
Owners: @aws/aws-ides-team

deps: bump @aws-toolkits/telemetry to 1.0.319 (#7300)
  package-lock.json
  package.json
Owners: @aws/aws-ides-team

fix(amazonq):support chat in al2 aarch64 and CDM (#7270)
  packages/amazonq/.changes/next-release/Bug Fix-bb976b5f-7697-42d8-89a9-8e96310a23f4.json
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/shared/vscode/env.test.ts
Owners: @aws/aws-ides-team

Merge master into feature/amazonqLSP-auth (#7225)
  package-lock.json
  package.json
  packages/amazonq/.changes/1.66.0.json
  packages/amazonq/.changes/next-release/Bug Fix-75375702-36b5-4e89-af57-4afe983a7238.json
  packages/amazonq/.changes/next-release/Bug Fix-9b0e6490-39a8-445f-9d67-9d762de7421c.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/toolkit/.changes/3.60.0.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Owners: @aws/aws-ides-team, @aws/earlybird, @aws/codewhisperer-team

fix(amazonq): Wrong customization being pushed to LSP on start
  packages/amazonq/src/lsp/chat/activation.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/index.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

refactor: move function to different file
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/config.ts
Owners: @aws/aws-ides-team

fix: Developer Profile not pushed to LSP on start
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/client.ts
Owners: @aws/aws-ides-team

Address comments
  packages/amazonq/src/lsp/client.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer
