Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/flare, @aws/access-analyzer

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/flare
packages/core/src/amazonq/ @aws/flare
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer

fix(amazonq): setMaven correctly #6384
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

feat(amazonq): grouping options for code issues #6330
  packages/amazonq/.changes/next-release/Feature-f0d4f2ca-72c5-4434-8cf3-fcd742bf33d7.json
  packages/amazonq/package.json
  packages/amazonq/test/unit/codewhisperer/models/model.test.ts
  packages/amazonq/test/unit/codewhisperer/service/securityIssueTreeViewProvider.test.ts
  packages/amazonq/test/unit/codewhisperer/ui/prompters.test.ts
  packages/core/package.nls.json
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/securityIssueTreeViewProvider.ts
  packages/core/src/codewhisperer/ui/prompters.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/test/index.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

perf(childprocess): track/monitor health of spawned processes #6304
  packages/core/src/dev/activation.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Owners: @aws/aws-ides-team

seperate verification and downloading
  packages/core/src/shared/lsp/lspResolver.ts
Owners: @aws/aws-ides-team

add telemetry for validation step
  packages/core/src/shared/lsp/lspResolver.ts
Owners: @aws/aws-ides-team

fix
  packages/core/src/shared/resourcefetcher/node/httpResourceFetcher.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
Owners: @aws/aws-ides-team

refactor(core): Make HttpResourceFetcher platform agnostic (#6379)
  packages/core/src/lambda/commands/downloadLambda.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/resourcefetcher/node/httpResourceFetcher.ts
  packages/core/src/shared/utilities/cliUtils.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
Owners: @aws/aws-ides-team

rename metrics and types
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Owners: @aws/flare, @aws/aws-ides-team

reduce duplication across stage implementations
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
Owners: @aws/flare, @aws/aws-ides-team

undo unnecessary change
  packages/core/src/amazonq/lsp/lspClient.ts
Owners: @aws/flare

refactor(core): Improve httpResourceFetcher API
  packages/core/src/lambda/utils.ts
  packages/core/src/lambda/vue/configEditor/samInvokeBackend.ts
  packages/core/src/lambda/vue/remoteInvoke/invokeLambda.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/resourcefetcher/resourcefetcher.ts
  packages/core/src/shared/sam/debugger/csharpSamDebug.ts
  packages/core/src/shared/schemas.ts
  packages/core/src/stepFunctions/utils.ts
  packages/core/src/test/lambda/vue/remoteInvoke/invokeLambda.test.ts
  packages/core/src/test/lambda/vue/samInvokeBackend.test.ts
  packages/core/src/test/shared/resourceFetcher/httpResourceFetcher.test.ts
  packages/core/src/test/testUtil.ts
Owners: @aws/aws-ides-team

refactor(core): Remove composite resource fetcher
  packages/core/src/shared/resourcefetcher/compositeResourceFetcher.ts
  packages/core/src/test/shared/resourceFetcher/compositeResourceFetcher.test.ts
Owners: @aws/aws-ides-team

revert(amazonq): defaultServiceConfig endpoint change
  packages/core/src/codewhisperer/client/codewhisperer.ts
Owners: @aws/codewhisperer-team

revert(amazonq): defaultServiceConfig endpoint change #6392
  packages/core/src/codewhisperer/client/codewhisperer.ts
Owners: @aws/codewhisperer-team

deps(amazonq): bump mynahui to 4.21.5
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-097e1816-d641-481d-8709-dae31a987473.json
  packages/amazonq/.changes/next-release/Bug Fix-63892126-9705-48ca-9772-d35003737838.json
  packages/amazonq/.changes/next-release/Bug Fix-7545b1a5-9cc7-416e-aafd-0d2733142941.json
  packages/amazonq/.changes/next-release/Bug Fix-845cedee-af40-430a-9a6d-47d387f7fb1a.json
  packages/amazonq/.changes/next-release/Feature-3dab51da-4ae6-4691-a8d1-bd142beee740.json
  packages/core/package.json
Owners: @aws/aws-ides-team

docs(amazonq): removed incorrect changelog items
  packages/amazonq/.changes/next-release/Bug Fix-63892126-9705-48ca-9772-d35003737838.json
  packages/amazonq/.changes/next-release/Bug Fix-845cedee-af40-430a-9a6d-47d387f7fb1a.json
  packages/amazonq/.changes/next-release/Feature-3dab51da-4ae6-4691-a8d1-bd142beee740.json
Owners: @aws/aws-ides-team

deps(amazonq): bump mynahui to 4.21.5 #6393
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-097e1816-d641-481d-8709-dae31a987473.json
  packages/amazonq/.changes/next-release/Bug Fix-7545b1a5-9cc7-416e-aafd-0d2733142941.json
  packages/core/package.json
Owners: @aws/aws-ides-team

add units to process stat keys
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Owners: @aws/aws-ides-team

resolve circ dep
  packages/core/src/shared/utilities/processUtils.ts
Owners: @aws/aws-ides-team

fix(amazonq): allow for prompt updates after error, prevent iteration limit exceeded errors
  packages/amazonq/.changes/next-release/Bug Fix-11625969-6700-4d10-805f-b6eaea2287a2.json
  packages/amazonq/.changes/next-release/Bug Fix-fdf7f991-1da6-405d-8a8a-3ce1af1db29d.json
  packages/amazonq/test/e2e/amazonq/doc.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonq/commons/connector/baseMessenger.ts
  packages/core/src/amazonqDoc/constants.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/messenger.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Owners: @aws/aws-ides-team, @aws/flare

fix failing tests
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Owners: @aws/aws-ides-team

refactor(lsp): Use internal ChildProcess module for launching language servers (#6374)
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/utilities/processUtils.ts
Owners: @aws/aws-ides-team, @aws/flare

rename commands and remove outdated changelog
  packages/amazonq/.changes/next-release/Feature-db34038d-d2bf-4b6e-b4dc-ac84c0156ab5.json
  packages/amazonq/package.json
  packages/core/package.nls.json
  packages/core/src/extension.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/toolkit/.changes/next-release/Feature-82e8146f-5dec-4af6-8f55-482471fdb4ad.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

update changelog
  packages/amazonq/.changes/next-release/Feature-31e78111-a241-44e5-9163-a81c5ef380d6.json
  packages/toolkit/.changes/next-release/Feature-db12e8e0-fc45-46e9-81e7-62d85aee2140.json
Owners: @aws/aws-ides-team

update telemetry
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Owners: @aws/aws-ides-team

make it clear it is currently being logged
  packages/core/package.nls.json
Owners: @aws/aws-ides-team

Update packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
  packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
Owners: @aws/aws-ides-team

fix(amazonq): codefix does not do error handling (#6307)
  packages/amazonq/.changes/next-release/Bug Fix-38581ab6-e9f3-4b45-aef9-5f93e4a97a26.json
  packages/core/package.nls.json
  packages/core/resources/css/securityIssue.css
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/errors.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/views/securityIssue/securityIssueWebview.ts
  packages/core/src/codewhisperer/views/securityIssue/vue/root.vue
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

update changelog to match
  packages/amazonq/.changes/next-release/Feature-31e78111-a241-44e5-9163-a81c5ef380d6.json
  packages/toolkit/.changes/next-release/Feature-db12e8e0-fc45-46e9-81e7-62d85aee2140.json
Owners: @aws/aws-ides-team

improve interface by making bad state impossible
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/pollingSet.test.ts
Owners: @aws/aws-ides-team

update tests that relied on prev behavior
  packages/core/src/test/awsService/ec2/activation.test.ts
  packages/core/src/test/awsService/ec2/explorer/ec2InstanceNode.test.ts
Owners: @aws/aws-ides-team

fix(amazonq): allow for more iterations on prompt related errors
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Owners: @aws/aws-ides-team

config(amazonq): lower timeout for auto reviews
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/shared/index.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix(amazonq): replace icons with text
  packages/core/package.nls.json
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

add changelog
  packages/amazonq/.changes/next-release/Bug Fix-da5a775a-766c-4862-8cab-2bb0259acb2f.json
  packages/amazonq/package.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

fix(amazonq): enable input after prompt is rejected, prevent iteration limit exceeded (#6395)
  packages/amazonq/.changes/next-release/Bug Fix-11625969-6700-4d10-805f-b6eaea2287a2.json
  packages/amazonq/.changes/next-release/Bug Fix-fdf7f991-1da6-405d-8a8a-3ce1af1db29d.json
  packages/amazonq/test/e2e/amazonq/doc.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonq/commons/connector/baseMessenger.ts
  packages/core/src/amazonqDoc/constants.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/messenger.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Owners: @aws/aws-ides-team, @aws/flare

config(amazonq): lower timeout for auto reviews (#6397)
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/shared/index.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

ci(core): Request should not throw on 304 status
  packages/core/src/shared/request.ts
Owners: @aws/aws-ides-team

refactor(core): Allow retries while fetching etags
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
Owners: @aws/aws-ides-team

refactor(core): Allow retries while fetching etags (#6402)
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
Owners: @aws/aws-ides-team
