Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/flare, @aws/access-analyzer

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/flare
packages/core/src/amazonq/ @aws/flare
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer

fix(core): Could not fetch endpoints
  packages/core/src/extension.ts
  packages/core/src/shared/regions/regionProvider.ts
Owners: @aws/aws-ides-team

fix(core): Could not fetch endpoints (#6418)
  packages/core/src/extension.ts
  packages/core/src/shared/regions/regionProvider.ts
Owners: @aws/aws-ides-team

Release 3.43.0
  package-lock.json
  packages/toolkit/.changes/3.43.0.json
  packages/toolkit/.changes/next-release/Bug Fix-b033b55b-52a5-488a-a4a7-c3228232bca6.json
  packages/toolkit/.changes/next-release/Bug Fix-f7aec5a8-a21c-4539-9ed4-820dd9887598.json
  packages/toolkit/.changes/next-release/Removal-3ef48be0-d3f3-4252-be69-9a0684406944.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

Release 1.44.0
  package-lock.json
  packages/amazonq/.changes/1.44.0.json
  packages/amazonq/.changes/next-release/Bug Fix-097e1816-d641-481d-8709-dae31a987473.json
  packages/amazonq/.changes/next-release/Bug Fix-11625969-6700-4d10-805f-b6eaea2287a2.json
  packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
  packages/amazonq/.changes/next-release/Bug Fix-38581ab6-e9f3-4b45-aef9-5f93e4a97a26.json
  packages/amazonq/.changes/next-release/Bug Fix-7545b1a5-9cc7-416e-aafd-0d2733142941.json
  packages/amazonq/.changes/next-release/Bug Fix-817a49a4-df99-4bbe-88a1-c906861b6fc1.json
  packages/amazonq/.changes/next-release/Bug Fix-a49b3835-40c5-4878-ac0c-c4c613f1bf97.json
  packages/amazonq/.changes/next-release/Bug Fix-da5a775a-766c-4862-8cab-2bb0259acb2f.json
  packages/amazonq/.changes/next-release/Bug Fix-fdf7f991-1da6-405d-8a8a-3ce1af1db29d.json
  packages/amazonq/.changes/next-release/Feature-7f17c8e5-2242-4a8a-93bc-f7a6c08899dc.json
  packages/amazonq/.changes/next-release/Feature-f0d4f2ca-72c5-4434-8cf3-fcd742bf33d7.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Owners: @aws/aws-ides-team

Update version to snapshot version: 3.44.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

Update version to snapshot version: 1.45.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Owners: @aws/aws-ides-team

- add a timeout to the template build registration - updated test with a small delay to avoid possible race condition and test flakiness
  packages/core/src/shared/sam/utils.ts
  packages/core/src/test/shared/sam/build.test.ts
Owners: @aws/aws-ides-team

fix lint issue
  packages/core/src/shared/sam/deploy.ts
Owners: @aws/aws-ides-team

telemetry(amazonq): add fields for code fix events
  package-lock.json
  package.json
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

refactor(util): merge withRetries into waitUntil #6387
  packages/core/src/notifications/controller.ts
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/notifications/controller.test.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
  packages/core/src/test/shared/utilities/timeoutUtils.test.ts
Owners: @aws/aws-ides-team

fix telemetry metadata field
  packages/core/src/shared/lsp/manifestResolver.ts
Owners: @aws/aws-ides-team

port metrics down from commons until release
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Owners: @aws/aws-ides-team

feat(lambda): Connect CW Live Tail to Lambda functions
  packages/core/package.nls.json
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/cloudWatchLogs/activation.ts
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/lambda/activation.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.test.ts
  packages/toolkit/.changes/next-release/Feature-48c399ea-d42f-4ea1-8f32-d8bc1486a107.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

implement logic for manifest telemetry
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/manifestResolver.ts
Owners: @aws/flare, @aws/aws-ides-team

feat: allow install, build, and test commands separately
  packages/core/src/amazonqFeatureDev/constants.ts
Owners: @aws/earlybird

fix(amazonq): log full error
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Owners: @aws/codewhisperer-team

fix(feature dev): adding required files to upload for execution engine
  packages/core/src/shared/filetypes.ts
  packages/core/src/test/shared/filetypes.test.ts
Owners: @aws/aws-ides-team

Update wording for changeset
  packages/toolkit/.changes/next-release/Feature-48c399ea-d42f-4ea1-8f32-d8bc1486a107.json
Owners: @aws/aws-ides-team

patch
  packages/core/src/shared/featureConfig.ts
Owners: @aws/aws-ides-team

edit strings
  packages/core/src/codewhisperer/models/constants.ts
Owners: @aws/codewhisperer-team

test(toolkit): Add region provider remote test
  packages/core/src/shared/regions/regionProvider.ts
  packages/core/src/testInteg/regionProvider.test.ts
Owners: @aws/aws-ides-team

feat: check marketplace in release
  buildspec/release/70checkmarketplace.yml
Owners: @aws/aws-ides-team

refactor(core): Manifest/LSP fetching should use httpResourceFetcher
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
Owners: @aws/aws-ides-team

fixup
  packages/webpack.web.config.js
Owners: @aws/aws-ides-team

fixup
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
Owners: @aws/aws-ides-team

telemetry: add docgeneration V2 telemetry
  packages/core/src/amazonq/commons/diff.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/controllers/docGenerationTask.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/client/codewhispererruntime-2022-11-11.json
  packages/core/src/codewhisperer/client/user-service-2.json
Owners: @aws/flare, @aws/aws-ides-team, @aws/earlybird, @aws/codewhisperer-team

telemetry: implement logic for server resolution
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/lsp/types.ts
Owners: @aws/aws-ides-team

refactor: move tryFunctions to core and include tests
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/utilities/tsUtils.ts
  packages/core/src/test/shared/utilities/tsUtils.test.ts
Owners: @aws/flare, @aws/aws-ides-team

fix: generalize cleanup to apply to other installer
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/test/amazonq/lsp/util.test.ts
  packages/core/src/test/amazonq/lsp/workplaceInstaller.test.ts
Owners: @aws/aws-ides-team, @aws/flare

refactor: avoid exporting unnecessarily
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
Owners: @aws/flare

refactor: reduce noise in changes
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
Owners: @aws/flare

telemtry: implement telemetry for amazonQLSP
  packages/amazonq/src/lsp/activation.ts
  packages/core/src/amazonq/index.ts
Owners: @aws/aws-ides-team, @aws/flare

refactor: move cleanup work to more general location
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/utils/cleanup.ts
  packages/core/src/test/amazonq/lsp/util.test.ts
Owners: @aws/aws-ides-team, @aws/flare

feat(dev): Update file generation logic and file upload functionality for dev-execution. (#6424)
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/shared/filetypes.ts
  packages/core/src/test/shared/filetypes.test.ts
Owners: @aws/earlybird, @aws/aws-ides-team

Allow including binary files when execution is enabled
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/filetypes.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Owners: @aws/aws-ides-team, @aws/earlybird

refactor: migrate withRetries to waitUntil
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
Owners: @aws/aws-ides-team

refactor(fetcher): migrate withRetries to waitUntil (#6429)
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
Owners: @aws/aws-ides-team

refactor: mark ExtContext as deprecated
  packages/core/src/shared/extensions.ts
Owners: @aws/aws-ides-team

jscpd
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Owners: @aws/aws-ides-team

refactor: mark ExtContext as deprecated
  packages/core/src/shared/extensions.ts
Owners: @aws/aws-ides-team
