Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/flare, @aws/access-analyzer

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/flare
packages/core/src/amazonq/ @aws/flare
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer

const curLen
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Owners: @aws/codewhisperer-team

Adds capability to send new context commands to AB groups
  packages/amazonq/.changes/next-release/Feature-37eb706c-57a1-4751-888d-220b2f68ee4d.json
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Owners: @aws/aws-ides-team, @aws/flare

fix(amazonq): max 20k char for inline supplementalContext (#6366)
  packages/amazonq/.changes/next-release/Bug Fix-72b26a2d-3647-4d07-b0ef-92238e3f0050.json
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

feat(amazonq): capability to send new context commands to AB groups (#6239)
  packages/amazonq/.changes/next-release/Feature-37eb706c-57a1-4751-888d-220b2f68ee4d.json
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Owners: @aws/aws-ides-team, @aws/flare

feat(inline completion): enhance inline completion context fetching (#6356)
  packages/amazonq/.changes/next-release/Feature-d0329e3d-65bd-4987-b87c-ee11b86de399.json
Owners: @aws/aws-ides-team

Update packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
Owners: @aws/aws-ides-team

fix(sso): Sign in did not allow custom start url
  packages/core/src/auth/sso/constants.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/shared/utilities/uriUtils.ts
  packages/core/src/test/shared/utilities/uriUtils.test.ts
Owners: @aws/aws-ides-team

changelog items
  packages/amazonq/.changes/next-release/Bug Fix-71c6bbc1-67ae-4318-a7f0-c594e097ebc4.json
  packages/toolkit/.changes/next-release/Bug Fix-29e6ef4c-536b-47bb-ae27-26b802ccdb65.json
Owners: @aws/aws-ides-team

cammel case supplemental context strategy ids
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/utgUtils.ts
Owners: @aws/codewhisperer-team

patch
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Owners: @aws/codewhisperer-team

a
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
Owners: @aws/aws-ides-team

refactor(inline suggestion): camel case supplemental context strategy ids #6369
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/utgUtils.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix(amazonq): conditionally display remaining code generation iterations
  packages/amazonq/.changes/next-release/Feature-f03a4f2f-5819-4276-b914-be0b1a4ecedf.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
  packages/toolkit/package.json
Owners: @aws/aws-ides-team, @aws/earlybird

message now only in endSession
  packages/core/src/amazonqTest/chat/controller/controller.ts
Owners: @aws/aws-ides-team

feat(amazonq): change active file context limit to 40k
  packages/core/src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
Owners: @aws/flare

add comments
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
Owners: @aws/codewhisperer-team

fix(amazonq): remove hard-coded limits and instead rely server-side data to communicate number of code generations remaining
  packages/amazonq/.changes/next-release/Feature-f03a4f2f-5819-4276-b914-be0b1a4ecedf.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
Owners: @aws/aws-ides-team, @aws/earlybird

fix(dev): Q developer menu opening wrong auth state #6351
  packages/core/src/dev/activation.ts
  packages/core/src/shared/utilities/mementos.ts
Owners: @aws/aws-ides-team

fix(amazonq): remove hard-coded limits and instead rely server-side data to communicate number of code generations remaining
  packages/amazonq/.changes/next-release/Bug Fix-ef93f909-3aa5-4e62-a4fc-850376161d24.json
Owners: @aws/aws-ides-team

build: normalize filepath slashes, eol consistency #6353
  .eslintrc.js
  packages/core/src/test/testRunner.ts
Owners: @aws/aws-ides-team

fix(amazonq): use server-side data to decide remaining code generations #6370
  packages/amazonq/.changes/next-release/Bug Fix-ef93f909-3aa5-4e62-a4fc-850376161d24.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/toolkit/package.json
Owners: @aws/aws-ides-team, @aws/earlybird

save
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/languageServer/types.ts
Owners: @aws/aws-ides-team, @aws/flare

refactor(amazonq): Improve robustness of lsp installation process (#6364)
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/types.ts
  packages/core/src/shared/languageServer/utils/platform.ts
Owners: @aws/aws-ides-team, @aws/flare

refactor(core): Move shared/languageServer -> shared/lsp
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/languageModelCache.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/lsp/types.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/lsp/utils/runner.ts
  packages/core/src/stepFunctions/asl/aslServer.ts
Owners: @aws/flare, @aws/aws-ides-team

refactor sub-functions
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Owners: @aws/aws-ides-team

add rule and migrate existing cases
  .eslintrc.js
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/shared/env/resolveEnv.ts
  packages/core/src/shared/utilities/downloadPatterns.ts
  packages/core/src/shared/utilities/pollingSet.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

simplify output
  .github/workflows/filterDuplicates.js
Owners: @aws/aws-ides-team

add duplicate
  packages/core/src/awsService/ec2/model2.ts
Owners: @aws/aws-ides-team

test(amazonq): add edit README E2E test case for /doc
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Owners: @aws/aws-ides-team

generalize url
  .github/workflows/filterDuplicates.js
  .github/workflows/node.js.yml
Owners: @aws/aws-ides-team

refactor(lsp): Use internal ChildProcess module for launching language servers
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/utilities/processUtils.ts
Owners: @aws/aws-ides-team, @aws/flare

add missing slash
  .github/workflows/filterDuplicates.js
Owners: @aws/aws-ides-team

clean up and add docs
  .github/workflows/filterDuplicates.js
  packages/core/src/awsService/ec2/model2.ts
Owners: @aws/aws-ides-team

ci(jscpd): improve output format #6373
  .github/workflows/filterDuplicates.js
  .github/workflows/node.js.yml
Owners: @aws/aws-ides-team

test(amazonq): "edit README" E2E test case for /doc #6317
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Owners: @aws/aws-ides-team

build(lint): add rule to prefer direct imports over index.ts #6372
  .eslintrc.js
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/shared/env/resolveEnv.ts
  packages/core/src/shared/utilities/downloadPatterns.ts
  packages/core/src/shared/utilities/pollingSet.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix comments
  packages/core/src/auth/sso/constants.ts
Owners: @aws/aws-ides-team

refactor message
  packages/core/src/auth/sso/constants.ts
  packages/core/src/login/webview/vue/login.vue
Owners: @aws/aws-ides-team

fixup
  packages/amazonq/test/e2e/amazonq/chat.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/core/src/amazonq/index.ts
Owners: @aws/aws-ides-team, @aws/flare

tests(amazonq): Add e2e tests for general amazon q chat panel
  packages/amazonq/test/e2e/amazonq/assert.ts
  packages/amazonq/test/e2e/amazonq/chat.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/template.test.ts
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Owners: @aws/aws-ides-team, @aws/flare
