Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/flare, @aws/access-analyzer

save
  packages/amazonq/test/e2e/amazonq/chat.test.ts
Owners: @aws/aws-ides-team

foo
  packages/amazonq/test/e2e/amazonq/template.test.ts
Owners: @aws/aws-ides-team

foo
  packages/amazonq/test/e2e/amazonq/chat.test.ts
  packages/amazonq/test/e2e/amazonq/template.test.ts
Owners: @aws/aws-ides-team

test(amazonq): Add e2e tests for general amazon q chat panel (#6279)
  packages/amazonq/test/e2e/amazonq/assert.ts
  packages/amazonq/test/e2e/amazonq/chat.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/template.test.ts
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Owners: @aws/aws-ides-team, @aws/flare

fix(sso): login with custom startUrl not allowed (#6368)
  packages/amazonq/.changes/next-release/Bug Fix-71c6bbc1-67ae-4318-a7f0-c594e097ebc4.json
  packages/core/src/auth/sso/constants.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/shared/utilities/uriUtils.ts
  packages/core/src/test/shared/utilities/uriUtils.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-29e6ef4c-536b-47bb-ae27-26b802ccdb65.json
Owners: @aws/aws-ides-team

Correction to changelog
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
Owners: @aws/aws-ides-team

Correction for changelog with /test
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
Owners: @aws/aws-ides-team

fix(amazonq): unsupported languages test generation query (#6363)
  package-lock.json
  package.json
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Release 1.43.0
  package-lock.json
  packages/amazonq/.changes/1.43.0.json
  packages/amazonq/.changes/next-release/Bug Fix-71c6bbc1-67ae-4318-a7f0-c594e097ebc4.json
  packages/amazonq/.changes/next-release/Bug Fix-72b26a2d-3647-4d07-b0ef-92238e3f0050.json
  packages/amazonq/.changes/next-release/Bug Fix-b6d52b75-69e6-47bb-939b-5ddede03f977.json
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
  packages/amazonq/.changes/next-release/Bug Fix-d8c02c38-bdc4-492a-bf8c-6c35e35087be.json
  packages/amazonq/.changes/next-release/Bug Fix-ef93f909-3aa5-4e62-a4fc-850376161d24.json
  packages/amazonq/.changes/next-release/Feature-37eb706c-57a1-4751-888d-220b2f68ee4d.json
  packages/amazonq/.changes/next-release/Feature-8a43c3c3-9ecb-44b6-bb0c-34d2065aee26.json
  packages/amazonq/.changes/next-release/Feature-d0329e3d-65bd-4987-b87c-ee11b86de399.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Owners: @aws/aws-ides-team

Release 3.42.0
  package-lock.json
  packages/toolkit/.changes/3.42.0.json
  packages/toolkit/.changes/next-release/Bug Fix-29e6ef4c-536b-47bb-ae27-26b802ccdb65.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

add changelog
  packages/amazonq/.changes/next-release/Feature-7f17c8e5-2242-4a8a-93bc-f7a6c08899dc.json
Owners: @aws/aws-ides-team

revert: cloud9 contribution points
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

Add SAM template transforms from function configuration
  packages/core/src/awsService/appBuilder/explorer/generateFunctionTemplate.ts
  packages/core/src/awsService/appBuilder/explorer/templateTransformer.ts
Owners: @aws/aws-ides-team

fix linting and tests
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/appBuilder/explorer/samProject.ts
  packages/core/src/awsService/appBuilder/utils.ts
  packages/core/src/awsService/appBuilder/walkthrough.ts
  packages/core/src/test/awsService/appBuilder/explorer/samProject.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/appNode.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/deployedNode.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-b033b55b-52a5-488a-a4a7-c3228232bca6.json
Owners: @aws/aws-ides-team

feedback fixes
  packages/core/src/codewhisperer/tracker/userWrittenCodeTracker.ts
Owners: @aws/codewhisperer-team

fix ci
  packages/core/src/codewhisperer/service/testGenHandler.ts
Owners: @aws/codewhisperer-team

refactor(core): Make HttpResourceFetcher platform agnostic
  packages/core/src/lambda/commands/downloadLambda.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/resourcefetcher/node/httpResourceFetcher.ts
  packages/core/src/shared/utilities/cliUtils.ts
Owners: @aws/aws-ides-team

Update version to snapshot version: 1.44.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Owners: @aws/aws-ides-team

Update version to snapshot version: 3.43.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

define metric within VSC telemetry
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Owners: @aws/aws-ides-team

test(amazonq): update tests for messages at different remaining iteration counts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Owners: @aws/earlybird, @aws/aws-ides-team

implement telemetry for fetching stage
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/test/shared/lsp/manifestResolver.test.ts
Owners: @aws/aws-ides-team

settings description text update for workspace index
  packages/core/package.nls.json
Owners: @aws/aws-ides-team

change log
  packages/amazonq/.changes/next-release/Bug Fix-817a49a4-df99-4bbe-88a1-c906861b6fc1.json
Owners: @aws/aws-ides-team

telemetry(amazonq): calculate % of non-generated (user-written) code #5991
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/amazonq/test/unit/codewhisperer/tracker/userWrittenCodeTracker.test.ts
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/service/inlineCompletionItemProvider.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
  packages/core/src/codewhisperer/tracker/userWrittenCodeTracker.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
Owners: @aws/aws-ides-team, @aws/flare, @aws/earlybird, @aws/codewhisperer-team

fixing fileclick work not as expected issue
  packages/core/src/amazonq/webview/ui/apps/testChatConnector.ts
Owners: @aws/flare

fix(amazonq): improve settings description #6382
  packages/amazonq/.changes/next-release/Bug Fix-817a49a4-df99-4bbe-88a1-c906861b6fc1.json
  packages/core/package.nls.json
Owners: @aws/aws-ides-team

feat(amazonq): change active file context limit to 40k #6371
  packages/amazonq/.changes/next-release/Feature-7f17c8e5-2242-4a8a-93bc-f7a6c08899dc.json
  packages/core/src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
Owners: @aws/aws-ides-team, @aws/flare

lift telemetry logic to top level
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/lsp/types.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/test/shared/lsp/manifestResolver.test.ts
Owners: @aws/flare, @aws/aws-ides-team

add telemetry for remaining stages
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
Owners: @aws/flare

fix(amazonq): setMaven correctly
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

addressed comment
  packages/core/src/amazonq/webview/ui/apps/testChatConnector.ts
Owners: @aws/flare

fix logging
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
Owners: @aws/codewhisperer-team

improve logging
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Owners: @aws/codewhisperer-team

UTG Error handling rebasing
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix logging
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Owners: @aws/codewhisperer-team

add changelog
  packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
Owners: @aws/aws-ides-team

test(amazonq): messages at different remaining iteration counts #6381
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Owners: @aws/earlybird, @aws/aws-ides-team

telemetry(amazonq): unit test generation #6386
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix(lambda): AppBuilder messages #6362
  packages/core/src/awsService/appBuilder/explorer/detectSamProjects.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/appNode.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/appBuilder/explorer/samProject.ts
  packages/core/src/awsService/appBuilder/utils.ts
  packages/core/src/awsService/appBuilder/walkthrough.ts
  packages/core/src/test/awsService/appBuilder/explorer/detectSamProjects.test.ts
  packages/core/src/test/awsService/appBuilder/explorer/samProject.test.ts
  packages/core/src/test/awsService/appBuilder/utils.test.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/appNode.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/deployedNode.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-b033b55b-52a5-488a-a4a7-c3228232bca6.json
Owners: @aws/aws-ides-team

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/flare
packages/core/src/amazonq/ @aws/flare
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer
