Repository aws/aws-toolkit-vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/earlybird, @aws/flare, @aws/access-analyzer

.github/CODEOWNERS:

* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/flare
packages/core/src/amazonq/ @aws/flare
packages/core/src/awsService/accessanalyzer/ @aws/access-analyzer

ci(core): Request should not throw on 304 status (#6400)
  packages/core/src/shared/request.ts
Owners: @aws/aws-ides-team

migrate use of .forEach to for...of
  packages/amazonq/src/inline/completion.ts
Owners: @aws/aws-ides-team

switch to fallback instead of cache when remote option fails
  packages/core/src/shared/lsp/manifestResolver.ts
Owners: @aws/aws-ides-team

fix(notifications): dismiss command visible in command palette
  packages/amazonq/.changes/next-release/Bug Fix-a49b3835-40c5-4878-ac0c-c4c613f1bf97.json
  packages/amazonq/package.json
  packages/toolkit/.changes/next-release/Bug Fix-f7aec5a8-a21c-4539-9ed4-820dd9887598.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

refactor(util): merge withRetries and waitUntil
  packages/core/src/notifications/controller.ts
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/notifications/controller.test.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
  packages/core/src/test/shared/utilities/timeoutUtils.test.ts
Owners: @aws/aws-ides-team

fix docstrings
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/shared/utilities/timeoutUtils.test.ts
Owners: @aws/aws-ides-team

Update packages/toolkit/.changes/next-release/Removal-3ef48be0-d3f3-4252-be69-9a0684406944.json
  packages/core/src/test/shared/extensionUtilities.test.ts
  packages/toolkit/.changes/next-release/Removal-3ef48be0-d3f3-4252-be69-9a0684406944.json
Owners: @aws/aws-ides-team

fix(amazonq): /doc prompt refusal error message text update
  packages/core/package.nls.json
Owners: @aws/aws-ides-team

poc model routing
  packages/amazonq/test/unit/codewhisperer/commands/onAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/commands/onInlineAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/service/completionProvider.test.ts
  packages/amazonq/test/unit/codewhisperer/service/inlineCompletionService.test.ts
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/service/telemetry.test.ts
  packages/amazonq/test/unit/codewhisperer/util/telemetryHelper.test.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/commands/invokeRecommendation.ts
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/service/completionProvider.ts
  packages/core/src/codewhisperer/service/inlineCompletionItemProvider.ts
  packages/core/src/codewhisperer/service/inlineCompletionService.ts
  packages/core/src/codewhisperer/service/nextRecommendationProvider.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/service/referenceLogViewProvider.ts
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/codewhisperer/views/lineAnnotationController.ts
  packages/core/src/test/codewhisperer/testUtil.ts
  packages/core/src/testE2E/codewhisperer/referenceTracker.test.ts
  packages/core/src/testE2E/codewhisperer/serviceInvocations.test.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
Owners: @aws/codewhisperer-team

rebase
  packages/core/src/codewhisperer/service/nextRecommendationProvider.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Owners: @aws/codewhisperer-team

fix(amazonq): /doc prompt refusal error message text update (#6408)
  packages/core/package.nls.json
Owners: @aws/aws-ides-team

implement heuristic
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/utilities/tsUtils.ts
  packages/core/src/test/amazonq/lsp/workspaceinstaller.test.ts
  packages/core/src/testInteg/amazonq/lsp/workspaceInstaller.test.ts
Owners: @aws/flare, @aws/aws-ides-team

clean up handling on optional args
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
Owners: @aws/flare

add tests for utility method
  packages/core/src/test/shared/utilities/tsUtils.test.ts
Owners: @aws/aws-ides-team

fetch versions from manifest file
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/testInteg/amazonq/lsp/workspaceInstaller.test.ts
Owners: @aws/flare, @aws/aws-ides-team

skip integ tests on non-mac
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/testInteg/amazonq/lsp/workspaceInstaller.test.ts
Owners: @aws/aws-ides-team

skip beforeAll hook on non-mac
  packages/core/src/testInteg/amazonq/lsp/workspaceInstaller.test.ts
Owners: @aws/aws-ides-team

fix(amazonq): replace icons with text (#6398)
  packages/amazonq/.changes/next-release/Bug Fix-da5a775a-766c-4862-8cab-2bb0259acb2f.json
  packages/amazonq/package.json
  packages/core/package.nls.json
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Add cancel button
  packages/core/src/shared/sam/build.ts
Owners: @aws/aws-ides-team

cleanup
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/service/inlineCompletionItemProvider.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/testE2E/codewhisperer/referenceTracker.test.ts
  packages/core/src/testE2E/codewhisperer/serviceInvocations.test.ts
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

deps: update "aws-sdk" to v2.1692.0 #6340
  package-lock.json
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/package.json
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Owners: @aws/aws-ides-team

refactor(lint): migrate use of .forEach to for...of #6406
  packages/amazonq/src/inline/completion.ts
Owners: @aws/aws-ides-team

refactor(pollingset): make bad state impossible #6396
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/awsService/ec2/activation.test.ts
  packages/core/src/test/awsService/ec2/explorer/ec2InstanceNode.test.ts
  packages/core/src/test/shared/utilities/pollingSet.test.ts
Owners: @aws/aws-ides-team

fix(notifications): dismiss command visible in command palette (#6407)
  packages/amazonq/.changes/next-release/Bug Fix-a49b3835-40c5-4878-ac0c-c4c613f1bf97.json
  packages/amazonq/package.json
  packages/toolkit/.changes/next-release/Bug Fix-f7aec5a8-a21c-4539-9ed4-820dd9887598.json
  packages/toolkit/package.json
Owners: @aws/aws-ides-team

pull out helper function so that it can be used by other modules
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
Owners: @aws/flare

handle case where remaining versions is 2 or less
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/test/amazonq/lsp/workspaceinstaller.test.ts
Owners: @aws/flare, @aws/aws-ides-team

add comment to partition helper function
  packages/core/src/shared/utilities/tsUtils.ts
Owners: @aws/aws-ides-team

remove special logic for integ tests
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/testInteg/amazonq/lsp/workspaceInstaller.test.ts
Owners: @aws/flare, @aws/aws-ides-team

increase test coverage for cases when < 2 versions
  packages/core/src/test/amazonq/lsp/workspaceinstaller.test.ts
Owners: @aws/aws-ides-team

rename file
  packages/core/src/test/amazonq/lsp/workplaceInstaller.test.ts
Owners: @aws/aws-ides-team

fix rejected promise
  packages/core/src/test/shared/utilities/timeoutUtils.test.ts
Owners: @aws/aws-ides-team

add test
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Owners: @aws/aws-ides-team

add test
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/models/constants.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

add jvm_21
  packages/core/src/codewhisperer/client/user-service-2.json
Owners: @aws/codewhisperer-team

fix another unhandled promise
  packages/core/src/test/notifications/controller.test.ts
Owners: @aws/aws-ides-team

update versions
  package-lock.json
  packages/core/package.json
Owners: @aws/aws-ides-team

feat(amazonq): java21 support
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

include test in PR
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Owners: @aws/aws-ides-team

update tests and pr feedback
  packages/amazonq/test/unit/codewhisperer/commands/onAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/commands/onInlineAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/service/completionProvider.test.ts
  packages/amazonq/test/unit/codewhisperer/service/inlineCompletionService.test.ts
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/util/telemetryHelper.test.ts
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/service/inlineCompletionService.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Owners: @aws/aws-ides-team, @aws/codewhisperer-team
